* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container {
    width: 960px;
    background-color: #d9d9d9;
    color: #464747;
    margin: 20px auto;
    border: 1px solid #464747;
    border-radius: 4px;
}

.buttn {
    width: 120px;
    height: 40px;
    background-color: #00A4E5;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
}

.buttn:hover {
    background-color: #08b9ff;
}

.header {
    display: flex;
    flex-direction: column;
}

.headerTop {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.inputTodo {
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 3px;
    outline: none;
}

.headerBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.allText {
    width: 40px;
}

.completedText {
    width: 95px;
}

.inputSearch {
    width: 475px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 3px;
    outline: none;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 10px;
}

.caseCard {
    width: 570px;
    margin: auto;
    border: 1px solid #464747;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.todoText {
    background-color: #fff;
    width: 406px;
    border-radius: 4px;
    line-height: 50px;
    text-align: center;
}

.checkbox {
    width: 30px;
    height: 30px;
}

.checked {
    background-color: grey;
}

.checkbox:checked ~ .todoText {
    text-decoration: line-through;
}

.dateDelete {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deleteCase {
    border: none;
    border-radius: 4px;
    background-color: #00A4E5;
    cursor: pointer;
    width: 40px;
    height: 30px;
    position: relative;
    left: 50px;
    color: #fff;
    transition: .2s;
}

.deleteCase:hover {
    background-color: #08b9ff;
    font-size: 12px;
}

.dateText {
    background-color: #fff;
    border-radius: 4px;
    width: 90px;
    text-align: center;
    line-height: 25px;
}

.hide{
    display: none;
} 